h1 {
    color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

.premierp {
    color: purple;
    text-shadow: 1px 1px 2px gray;
}

.deuxp {
    color: orange;
     text-shadow: 1px 1px 2px gray;
}

.troisp {
    color: brown;
     text-shadow: 1px 1px 2px gray;
}

li {
    margin: 5px 0;
    list-style: none;
}

a {
    color: red;
    text-decoration: none;
}

.premierli {
    font-weight: bold;
    text-align: start;
    font-size: 18px;
}

.deuxiemeli {
    font-style: italic;
    text-align: center;
    font-size: 16px;
}

.troisiemeli {
    text-decoration: underline;
    text-align: end;
    font-size: 14px;
}

.div1{
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
}

.div2{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
}

.div3{
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: row-reverse;
}

.div21{
    height: 200px;
    width: 200px;
    align-self: start;
    background-color: rgb(0, 195, 255);
    border-radius: 50%;
}

.div22{
    height: 200px;
    width: 200px;
    align-self: center;
    background-color: rgb(255, 0, 170);
    border-radius: 50%;
}

.div23{
    height: 200px;
    width: 200px;
    align-self: end;
    background-color: rgb(1, 245, 1);
    border-radius: 50%;
}

.container2{
    display: flex;
    flex-direction: column;
}

.divspacebetween{
    display: flex;
    justify-content: space-between;
}

.divspacebetween div{
    height: 200px;
    width: 200px;
    background-color: purple;
    border-radius: 50%;
}

.divcenter{
    display: flex;
    justify-content: center;
}

.divcenter div{
    height: 200px;
    width: 200px;
    background-color: rgb(191, 212, 3);
    border-radius: 50%;
}

.divspacearound{
    display: flex;
    justify-content: space-around;
}

.divspacearound div{
    height: 200px;
    width: 200px;
    background-color: rgb(19, 3, 3);
    border-radius: 50%;
}

.divspaceevenly{
    display: flex;
    justify-content: space-evenly;
}

.divspaceevenly div{
    height: 200px;
    width: 200px;
    background-color: rgb(248, 5, 5);
    border-radius: 50%;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
}