.navbar{
    display : flex;
    gap : 20px;
    justify-content: space-between;
    align-items: center;
}

.navdroite{
    display: flex;
    gap: 20px;
}

body {
    background-color: black;
    color: white;
    font-family: DM Sans;
}

h1 {
    text-align: center;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.b1{
    background-color: blue;
    color: white;
    border : none;
    padding: 10px 20px;
    cursor: pointer;
}

.b2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
}

.section2 p{
    width: 60%;
    margin: auto;
    text-align: center;
}

.section3{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.section3 div div{
    height: 10px;
    width: 10px;
    background-color: blue;
    border-radius: 50%;
}

.section4{
    margin-top: 100px;
}

.section4 div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(63, 55, 63, 0.699);
}